<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <title><%= PageTitle %></title>

    <link rel="stylesheet" type="text/css" href="/css/vendors.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-extended.css" />
    <link rel="stylesheet" type="text/css" href="/css/components.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- END CSS-->
  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->

  <body
    class="vertical-layout vertical-menu-modern 1-column navbar-sticky footer-static bg-full-screen-image blank-page blank-page"
    data-open="click"
    data-menu="vertical-menu-modern"
    data-col="1-column"
  >
    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
          <!-- login page start -->
          <section id="auth-login" class="row flexbox-container">
            <div class="col-xl-4 col-8">
              <div class="card bg-authentication mb-0">
                <div class="row m-0">
                  <!-- left section-login -->
                  <div class="col-md-12 col-12 px-0">
                    <div
                      class="card disable-rounded-right mb-0 p-2 h-100 d-flex justify-content-center"
                    >
                      <div class="card-header pb-1">
                        <div class="card-title">
                          <h5 class="text-center mb-2">
                            Welcome Back to Kindah Care
                          </h5>
                        </div>
                      </div>
                      <div class="card-content">
                        <div class="card-body">
                          <!-- NO NEED OF THESE BUTTON NOW -->

                          <!-- <div
                            class="d-flex flex-md-row flex-column justify-content-around"
                          >
                            <a
                              href="#"
                              class="btn btn-social btn-google btn-block font-small-3 mr-md-1 mb-md-0 mb-1"
                            >
                              <i class="bx bxl-google font-medium-3"></i
                              ><span class="pl-50 d-block text-center"
                                >Google</span
                              ></a
                            >
                            <a
                              href="#"
                              class="btn btn-social btn-block mt-0 btn-facebook font-small-3"
                            >
                              <i
                                class="bx bxl-facebook-square font-medium-3"
                              ></i>
                              <span class="pl-50 d-block text-center"
                                >Facebook</span
                              ></a
                            >
                          </div> -->
                          <!-- <div class="divider">
                            <div class="divider-text text-uppercase text-muted">
                              <small>or login with email</small>
                            </div>
                          </div> -->
                          <form action="/patientDashboard">
                            <div class="form-group mb-50">
                              <label
                                class="text-bold-600"
                                for="exampleInputEmail1"
                                >Email Address or Phone Number</label
                              >
                              <input
                                type="email"
                                class="form-control"
                                id="exampleInputEmail1"
                                placeholder="Enter Email Address or Phone Number"
                              />
                            </div>

                            <div class="form-group">
                              <label
                                class="text-bold-600"
                                for="exampleInputPassword1"
                                >Password</label
                              >
                              <input
                                type="password"
                                class="form-control"
                                id="exampleInputPassword1"
                                placeholder="Password"
                              />
                            </div>
                            <div
                              class="form-group d-flex flex-md-row flex-column justify-content-between align-items-center"
                            >
                              <div class="text-left">
                                <div class="checkbox checkbox-sm">
                                  <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="exampleCheck1"
                                  />
                                  <label
                                    class="checkboxsmall"
                                    for="exampleCheck1"
                                    ><small>Keep me logged in</small></label
                                  >
                                </div>
                              </div>
                              <div class="text-right">
                                <a href="/forgetPassword" class="card-link"
                                  ><small>Forgot Password?</small></a
                                >
                              </div>
                            </div>
                            <button
                              type="submit"
                              class="btn btn-primary glow w-100 position-relative"
                            >
                              Login
                            </button>
                          </form>
                          <hr />
                          <div class="text-center">
                            <small class="mr-25">Don't have an account?</small
                            ><a href="signup"><small>Sign up</small></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- right section image -->
                </div>
              </div>
            </div>
          </section>
          <!-- login page ends -->
        </div>
      </div>
    </div>
    <!-- END: Content-->

    <!-- BEGIN: Vendor JS-->
    <script src="/js/vendors.min.js"></script>

    <!-- END: Page JS-->
  </body>
  <!-- END: Body-->
</html>
