<div
  class="main-menu menu-fixed menu-light menu-accordion menu-shadow card"
  data-scroll-to-active="true"
>
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item mr-auto">
        <a class="navbar-brand" href="/">
          <h2 class="brand-text mb-0">KINDAH CARE</h2>
        </a>
      </li>
      <li class="nav-item nav-toggle">
        <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"
          ><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i
          ><i
            class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary"
            data-ticon="bx-disc"
          ></i
        ></a>
      </li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <ul
      class="navigation navigation-main"
      id="main-menu-navigation"
      data-menu="menu-navigation"
      data-icon-style="lines"
    >
      <br />
      <br />
      <!-- <li class="navigation-header"><span>ALL DOCTORS</span></li> -->
      <hr />
      <a href="/patientDashboard">
        <button class="sideButtons hvr-sweep-to-right">
          <i class="bx bxs-calendar-plus"></i><span> Patient Dashboard</span>
        </button>
      </a>

      <hr />
      <a href="/patientAppointments">
        <button class="sideButtons hvr-sweep-to-right">
          <i class="bx bxs-report"></i><span>My Booked Appointments</span>
        </button>
      </a>
      <hr />
      <br />
      <button
        type="button"
        onclick="PatientCallFunction()"
        class="btn btn-outline-primary round mr-1 mb-1"
      >
        <b>Patient Call</b>
      </button>
      <hr />
    </ul>
  </div>
</div>

<script>
  function PatientCallFunction() {
    var myWindow = window.open(
      "/PatientVideo",
      "MsgWindow",
      "width=1000,height=1000"
    );
  }
</script>
