<%- include('../Includes/Head.ejs') %>

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/css/vendors.min.css" />
  

    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-extended.css" />
    <link rel="stylesheet" type="text/css" href="/css/colors.css" />
    <link rel="stylesheet" type="text/css" href="/css/components.css" />

    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/css/vertical-menu.css" />
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- END: Custom CSS-->
  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->

<!-- body tag and blue nav bar  -->
<%- include('../Includes/docNav.ejs') %>

<!-- complete side menu of doctor -->
<%- include('../Includes/docSideMenu.ejs') %>

    <!-- BEGIN: Content-->

    <!-- BEGIN: Content-->

    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
          <section
            id="sideMenuId"
            style="
              margin-right: -60%;
              overflow: auto;
              display: none;
              width: 60%;
              margin-top: 10px;
            "
          >
            <!-- User new mail right area -->
            <div class="kanban-sidebar" style="overflow: auto;">
              <div class="card shadow-none quill-wrapper">
                <div
                  class="card-header d-flex justify-content-between align-items-center border-bottom px-2 py-1 side-card-title"
                >
                  <h3 class="card-title side-card-title">
                    <b>Patient History</b>
                  </h3>
                  <button
                    type="button"
                    class="close close-icon"
                    onclick="viewHistory()"
                  >
                    <i class="bx bx-x"></i>
                  </button>
                </div>
                <!-- form start -->

                <div class="card-content side-bar">
                  <div class="card-body slide-card">
                    <br />
                    <div class="media">
                      <a class="pr-1" href="#">
                        <img
                          src="/assets/images/doctorprofile.jpg"
                          alt="image"
                          style="
                            height: 100px;
                            width: 100px;
                            border-radius: 50%;
                            margin-left: 12px;
                          "
                        />
                      </a>
                      <div>
                        <h5 class="media-heading">PATIENT ABC</h5>
                        <div>
                          <p>
                            <b>Age</b>: ABC years old
                            <br />
                            <b>Visit Number</b>:May 02 , 2020
                            <br />
                            <b>Contact Number</b>: 12245476786
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="text-sidebar">
                      <br />
                      <div>
                        <br />
                        <div>
                          <h6>
                            <b>History and Exams</b>
                          </h6>
                          <p>
                            Cookie candy dragée marzipan gingerbread pie
                            pudding. Brownie fruitcake wafer bonbon gummi bears
                            apple pie.
                          </p>
                        </div>

                        <div>
                          <h6>
                            <b>Allergies</b>
                          </h6>
                          <p>
                            Cookie candy dragée marzipan gingerbread pie
                            pudding. Brownie fruitcake wafer bonbon gummi bears
                            apple pie.
                          </p>
                        </div>

                        <div>
                          <h6>
                            <b>Diagnosis</b>
                          </h6>
                          <p>
                            Cookie candy dragée marzipan gingerbread pie
                            pudding. Brownie fruitcake wafer bonbon gummi bears
                            apple pie.
                          </p>
                        </div>

                        <div>
                          <h6>
                            <b>RX</b>
                          </h6>
                          <p>
                            Cookie candy dragée marzipan gingerbread pie
                            pudding. Brownie fruitcake wafer bonbon gummi bears
                            apple pie.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div>
                      <button
                        type="button"
                        class="btn btn-light-secondary"
                        onclick="viewHistory()"
                        style="float: right;"
                      >
                        <span class="d-none d-sm-block">Close</span>
                      </button>
                    </div>
                    <br />
                    <br />
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- end side bar -->

          <br />
          <div class="d-flex flex-row">
            <div class="page-heading">
              <h3>CALL LOGS</h3>
            </div>
          </div>

          <!-- Start  table -->

          <div class="table-responsive">
            <table class="table call-log-table">
              <thead>
                <tr class="call-log-table-header">
                  <th class="call-log-table-head">MRN</th>
                  <th class="call-log-table-head">Consulted By</th>
                  <th class="call-log-table-head">Phone</th>
                  <th class="call-log-table-head">Date</th>
                  <th class="call-log-table-head">Time</th>
                  <th class="call-log-table-head">Duration</th>
                  <th class="call-log-table-head">View History</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>790</td>
                  <td>Doctor ABC</td>
                  <td>36873336995</td>
                  <td>May 08,2020</td>
                  <td>07:00 AM</td>
                  <td>15min</td>
                  <td>
                    <a href="#" onclick="viewHistory();">
                      <i class="bx bxs-show call-log-eye-btn"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>790</td>
                  <td>Doctor ABC</td>
                  <td>36873336995</td>
                  <td>May 08,2020</td>
                  <td>07:00 AM</td>
                  <td>15min</td>
                  <td>
                    <a href="#" onclick="viewHistory();">
                      <i class="bx bxs-show call-log-eye-btn"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>790</td>
                  <td>Doctor ABC</td>
                  <td>36873336995</td>
                  <td>May 08,2020</td>
                  <td>07:00 AM</td>
                  <td>15min</td>
                  <td>
                    <a href="#" onclick="viewHistory();">
                      <i class="bx bxs-show call-log-eye-btn"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>790</td>
                  <td>Doctor ABC</td>
                  <td>36873336995</td>
                  <td>May 08,2020</td>
                  <td>07:00 AM</td>
                  <td>15min</td>
                  <td>
                    <a href="#" onclick="viewHistory();">
                      <i class="bx bxs-show call-log-eye-btn"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>790</td>
                  <td>Doctor ABC</td>
                  <td>36873336995</td>
                  <td>May 08,2020</td>
                  <td>07:00 AM</td>
                  <td>15min</td>
                  <td>
                    <a href="#" onclick="viewHistory();">
                      <i class="bx bxs-show call-log-eye-btn"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>790</td>
                  <td>Doctor ABC</td>
                  <td>36873336995</td>
                  <td>May 08,2020</td>
                  <td>07:00 AM</td>
                  <td>15min</td>
                  <td>
                    <a href="#" onclick="viewHistory();">
                      <i class="bx bxs-show call-log-eye-btn"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>790</td>
                  <td>Doctor ABC</td>
                  <td>36873336995</td>
                  <td>May 08,2020</td>
                  <td>07:00 AM</td>
                  <td>15min</td>
                  <td>
                    <a href="#" onclick="viewHistory();">
                      <i class="bx bxs-show call-log-eye-btn"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>790</td>
                  <td>Doctor ABC</td>
                  <td>36873336995</td>
                  <td>May 08,2020</td>
                  <td>07:00 AM</td>
                  <td>15min</td>
                  <td>
                    <a href="#" onclick="viewHistory();">
                      <i class="bx bxs-show call-log-eye-btn"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>790</td>
                  <td>Doctor ABC</td>
                  <td>36873336995</td>
                  <td>May 08,2020</td>
                  <td>07:00 AM</td>
                  <td>15min</td>
                  <td>
                    <a href="#" onclick="viewHistory();">
                      <i class="bx bxs-show call-log-eye-btn"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>790</td>
                  <td>Doctor ABC</td>
                  <td>36873336995</td>
                  <td>May 08,2020</td>
                  <td>07:00 AM</td>
                  <td>15min</td>
                  <td>
                    <a href="#" onclick="viewHistory();">
                      <i class="bx bxs-show call-log-eye-btn"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>790</td>
                  <td>Doctor ABC</td>
                  <td>36873336995</td>
                  <td>May 08,2020</td>
                  <td>07:00 AM</td>
                  <td>15min</td>
                  <td>
                    <a href="#" onclick="viewHistory();">
                      <i class="bx bxs-show call-log-eye-btn"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>790</td>
                  <td>Doctor ABC</td>
                  <td>36873336995</td>
                  <td>May 08,2020</td>
                  <td>07:00 AM</td>
                  <td>15min</td>
                  <td>
                    <a href="#" onclick="viewHistory();">
                      <i class="bx bxs-show call-log-eye-btn"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>790</td>
                  <td>Doctor ABC</td>
                  <td>36873336995</td>
                  <td>May 08,2020</td>
                  <td>07:00 AM</td>
                  <td>15min</td>
                  <td>
                    <i
                      class="bx bxs-show call-log-eye-btn"
                      onclick="viewHistory();"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <td>790</td>
                  <td>Doctor ABC</td>
                  <td>36873336995</td>
                  <td>May 08,2020</td>
                  <td>07:00 AM</td>
                  <td>15min</td>
                  <td>
                    <a href="#" onclick="viewHistory();">
                      <i class="bx bxs-show call-log-eye-btn"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>790</td>
                  <td>Doctor ABC</td>
                  <td>36873336995</td>
                  <td>May 08,2020</td>
                  <td>07:00 AM</td>
                  <td>15min</td>
                  <td>
                    <a href="#" onclick="viewHistory();">
                      <i class="bx bxs-show call-log-eye-btn"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- End  table -->
        </div>
      </div>
    </div>
    <!-- END: Content-->

    <!-- END: Content-->

    <!-- BEGIN: Vendor JS-->
    <script src="/js/vendors.min.js"></script>

    <script src="/js/vertical-menu-light.js"></script>
    <script src="/js/app-menu.js"></script>
    <script src="/js/app.js"></script>

    <script src="/js/slidevideocall.js"></script>

    <!-- END: Theme JS-->

    <!-- END: JS-->

    <%- include('../Includes/End.ejs') %>
