<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title><%= pageTitle %></title>

    <!-- <title>Hello</title> -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/icofont.min.css" rel="stylesheet" />

    <!-- Main  landing CSS File -->
    <link href="/css/landingstyle.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container">
        <div class="header-container d-flex align-items-center">
          <div class="logo mr-auto">
            <h1 class="text-light">
              <a href="/">Kindah Care</a>
            </h1>
            <!-- for logo -->
            <!-- <a href="/"><img src="img src" alt="" class="img-fluid"></a>-->
          </div>

          <nav
            class="nav-menu d-none d-lg-block"
            style="width: 100%;"
          >
            <ul>
              <li class="active"><a href="#header">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <ul" class="right-nav justify-content-end">
              <li class="get-started">
                <a href="/docdashboard">Doctor Dashboard</a>
              </li>

              <li class="get-started">
                <a href="/login">Login</a>
              </li>
              <li class="get-started">
                <a href="/signup">Register</a>
              </li>
            </ul>
          </nav>
          <!-- .nav-menu -->
        </div>
        <!-- End Header Container -->
      </div>
    </header>
    <!-- End Header -->

    <!-- content start-->
    <section id="hero" class="d-flex align-items-center">
      <div class="container text-center position-relative">
        <h1>DOCTORS AWAIT !!</h1>
        <h2>
          Consult a reliable doctor over live video , 24/7 from anywhere in the
          world securely and privately
          <br />
          <br />

          <a class="btn-get-started scrollto" href="/signup">Call A Doctor</a>
        </h2>
      </div>
    </section>
    <!-- End content-->

    <!-- Vendor JS Files -->
    <script src="/js/jquery.min.js"></script>

    <!--  Main JS landing page File -->
    <script src="/js/mainlanding.js"></script>
  </body>
</html>
