<%- include('../Includes/Head.ejs') %>

    <!-- BEGIN:  CSS-->
    <link rel="stylesheet" type="text/css" href="/css/vendors.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-extended.css" />
    <link rel="stylesheet" type="text/css" href="/css/colors.css" />

    <link rel="stylesheet" type="text/css" href="/css/components.css" />
    <link rel="stylesheet" type="text/css" href="/css/vertical-menu.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- END: CSS-->
  </head>
  <!-- END: Head-->

  <!-- body tag and blue nav bar  -->
  <%- include('../Includes/patientNav.ejs') %>
  
  <!-- complete side menu of doctor -->
  <%- include('../Includes/patientSideMenu.ejs') %>
    <!-- BEGIN: Content-->

    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
          <br/>
          <div class="d-flex flex-row">
            <div class="page-heading-pat">
              <h3>PATIENT DASHBOARD</h3>
            </div>
          </div>

          <div class="email-user-list list-group">
            <ul class="users-list-wrapper media-list">
              <!-- first -->
              <li class="media mail-read card">
                <div
                  style="display: flexbox; flex-direction: column; width: 100%;"
                >
                  <div class="row">
                    <div class="pr-50 doc-img">
                      <img
                        src="/assets/images/maledoc.png"
                        alt="avtar img holder"
                      />
                    </div>

                    <div class="media-body" style="display: inline-block;">
                      <h5 style="padding-top: 1%;">
                        Dr. Ghada Ameen<br />

                        <span class="bullet bullet-success bullet-sm"></span>
                        <span style="color: #39da8a; font-weight: 300;"
                          ><b>Available Today</b></span
                        >
                      </h5>

                      <span
                        >Consultant & Head of Obstetrics and Gynecology
                        Department (Saudi Arabia)</span
                      >
                      <br />
                      <div>
                        <p>
                          Please fill out the forms correctly. Your records will
                          be saved in database.
                        </p>
                        <br />
                        <div class="row">
                          <div class="col-12">
                            <!-- VIEW DOCTOR PROFILE START -->
                            <div
                              class="modal-primary mr-1 mb-1 d-inline-block btn-patient-dashboard"
                            >
                              <!-- Button trigger for primary themes modal -->
                              <button
                                type="button"
                                class="btn btn-outline-primary round mr-1 mb-1 btn-sm"
                                data-toggle="modal"
                                data-target="#primary"
                              >
                                <i class="bx bxs-show"></i>
                                <b>View Doctor Profile</b>
                              </button>

                              <!--primary theme Modal -->
                              <div
                                class="modal fade text-left"
                                id="primary"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="myModalLabel160"
                                aria-hidden="true"
                              >
                                <div
                                  class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                  role="document"
                                >
                                  <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                      <div class="pr-50 doc-img">
                                        <img
                                          src="/assets/images/maledoc.png"
                                          alt="avtar img holder"
                                        />
                                      </div>
                                      <h5
                                        class="modal-title white"
                                        id="myModalLabel160"
                                      >
                                        Dr. Ghada Ameen
                                      </h5>
                                      <button
                                        type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                      >
                                        <i class="bx bx-x"></i>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <ul style="list-style-type: disc;">
                                        <h4>Dr. Ghada Ameen</h4>
                                        <li>
                                          Consultant & Head of Obstetrics and
                                          Gynecology Department (Saudi Arabia)
                                        </li>
                                        <li>10 Years of experience</li>
                                        <li>Speaks English, Arabic</li>

                                        <li>
                                          Medical officer at Life care hospital
                                        </li>
                                        <li>
                                          medical officer at Care plus hospital
                                        </li>
                                        <li>General Physician at Kindah</li>
                                      </ul>
                                    </div>
                                    <div class="modal-footer">
                                      <button
                                        type="button"
                                        class="btn btn-light-secondary"
                                        data-dismiss="modal"
                                      >
                                        <i
                                          class="bx bx-x d-block d-sm-none"
                                        ></i>
                                        <span class="d-none d-sm-block"
                                          >Close</span
                                        >
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <a
                              href="/patientReqAppointment"
                              class="btn-patient-dashboard"
                            >
                              <button
                                type="button"
                                class="btn btn-outline-primary round mr-1 mb-1 btn-sm"
                              >
                                <i class="bx bx-calendar"></i>
                                <b>Request Appointment</b>
                              </button>
                            </a>

                            <div
                              class="modal-primary mr-1 mb-1 d-inline-block btn-patient-dashboard"
                            >
                              <!-- Button trigger for request a call modal -->
                              <button
                                type="button"
                                class="btn btn-outline-primary round mr-1 mb-1 btn-sm"
                                data-toggle="modal"
                                data-target="#reqcall"
                              >
                                <i class="bx bx-phone-call"></i>
                                <b>Join the Sameday Waiting list</b>
                              </button>

                              <!--primary request a call Modal -->
                              <div
                                class="modal fade text-left"
                                id="reqcall"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="myModalLabel160"
                                aria-hidden="true"
                              >
                                <div
                                  class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                  role="document"
                                >
                                  <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                      <h5
                                        class="modal-title white"
                                        id="myModalLabel160"
                                      >
                                        REQUEST A CALL
                                      </h5>
                                      <button
                                        type="button"
                                        class="close"
                                        onclick="hideRequestCallModal()"
                                        aria-label="Close"
                                      >
                                        <i class="bx bx-x"></i>
                                      </button>
                                    </div>
                                    <div
                                      class="modal-body"
                                      style="text-align: center;"
                                    >
                                      <h5>
                                        <i
                                          >Your request has been sent to doctor
                                          please wait.</i
                                        >
                                      </h5>

                                      <div style="text-align: center;">
                                        <img
                                          src="/assets/images/IncredibleEachBat-small.gif"
                                          alt="Calling Gif"
                                          style="
                                            width: 40%;
                                            height: 40%;
                                            border-radius: 50%;
                                          "
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!-- first doctor end -->

              <!-- second -->
              <li class="media mail-read card">
                <div
                  style="display: flexbox; flex-direction: column; width: 100%;"
                >
                  <div class="row">
                    <div class="pr-50 doc-img">
                      <img
                        src="/assets/images/maledoc.png"
                        alt="avtar img holder"
                      />
                    </div>

                    <div class="media-body" style="display: inline-block;">
                      <h5 style="padding-top: 1%;">
                        Dr. Ghada Ameen<br />

                        <span class="bullet bullet-success bullet-sm"></span>
                        <span style="color: #39da8a; font-weight: 300;"
                          ><b>Available Today</b></span
                        >
                      </h5>

                      <span
                        >Consultant & Head of Obstetrics and Gynecology
                        Department (Saudi Arabia)</span
                      >
                      <br />
                      <div>
                        <p>
                          Please fill out the forms correctly. Your records will
                          be saved in database.
                        </p>
                        <br />
                        <div class="row">
                          <div class="col-12">
                            <!-- VIEW DOCTOR PROFILE START -->
                            <div
                              class="modal-primary mr-1 mb-1 d-inline-block btn-patient-dashboard"
                            >
                              <!-- Button trigger for primary themes modal -->
                              <button
                                type="button"
                                class="btn btn-outline-primary round mr-1 mb-1 btn-sm"
                                data-toggle="modal"
                                data-target="#primary"
                              >
                                <i class="bx bxs-show"></i>
                                <b>View Doctor Profile</b>
                              </button>

                              <!--primary theme Modal -->
                              <div
                                class="modal fade text-left"
                                id="primary"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="myModalLabel160"
                                aria-hidden="true"
                              >
                                <div
                                  class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                  role="document"
                                >
                                  <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                      <div class="pr-50 doc-img">
                                        <img
                                          src="/assets/images/maledoc.png"
                                          alt="avtar img holder"
                                        />
                                      </div>
                                      <h5
                                        class="modal-title white"
                                        id="myModalLabel160"
                                      >
                                        Dr. Ghada Ameen
                                      </h5>
                                      <button
                                        type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                      >
                                        <i class="bx bx-x"></i>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <ul style="list-style-type: disc;">
                                        <h4>Dr. Ghada Ameen</h4>
                                        <li>
                                          Consultant & Head of Obstetrics and
                                          Gynecology Department (Saudi Arabia)
                                        </li>
                                        <li>10 Years of experience</li>
                                        <li>Speaks English, Arabic</li>

                                        <li>
                                          Medical officer at Life care hospital
                                        </li>
                                        <li>
                                          medical officer at Care plus hospital
                                        </li>
                                        <li>General Physician at Kindah</li>
                                      </ul>
                                    </div>
                                    <div class="modal-footer">
                                      <button
                                        type="button"
                                        class="btn btn-light-secondary"
                                        data-dismiss="modal"
                                      >
                                        <i
                                          class="bx bx-x d-block d-sm-none"
                                        ></i>
                                        <span class="d-none d-sm-block"
                                          >Close</span
                                        >
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <a
                              href="/patientReqAppointment"
                              class="btn-patient-dashboard"
                            >
                              <button
                                type="button"
                                class="btn btn-outline-primary round mr-1 mb-1 btn-sm"
                              >
                                <i class="bx bx-calendar"></i>
                                <b>Request Appointment</b>
                              </button>
                            </a>

                            <div
                              class="modal-primary mr-1 mb-1 d-inline-block btn-patient-dashboard"
                            >
                              <!-- Button trigger for request a call modal -->
                              <button
                                type="button"
                                class="btn btn-outline-primary round mr-1 mb-1 btn-sm"
                                data-toggle="modal"
                                data-target="#waitinglist"
                              >
                                <i class="bx bx-phone-call"></i>
                                <b>Join the Sameday Waiting list</b>
                              </button>

                              <!--primary request a call Modal -->
                              <div
                                class="modal fade text-left"
                                id="waitinglist"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="myModalLabel160"
                                aria-hidden="true"
                              >
                                <div
                                  class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                  role="document"
                                >
                                  <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                      <h5
                                        class="modal-title white"
                                        id="myModalLabel160"
                                      >
                                        REQUEST TO JOIN THE WAITING LIST
                                      </h5>
                                      <button
                                        type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                      >
                                        <i class="bx bx-x"></i>
                                      </button>
                                    </div>
                                    <div
                                      class="modal-body"
                                      style="text-align: center;"
                                    >
                                      <br />

                                      <h5>
                                        <i
                                          >Your request can't be transfer to
                                          doctor as the limit to attend per day
                                          patients has been reached.</i
                                        >
                                      </h5>
                                      <br />

                                      <h5>
                                        <i
                                          >Try to book Appointment tomorrow as
                                          soon as possible</i
                                        >
                                      </h5>
                                      <br />
                                      <br />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!-- second doctor end -->

              <!-- first -->
              <li class="media mail-read card">
                <div
                  style="display: flexbox; flex-direction: column; width: 100%;"
                >
                  <div class="row">
                    <div class="pr-50 doc-img">
                      <img
                        src="/assets/images/maledoc.png"
                        alt="avtar img holder"
                      />
                    </div>

                    <div class="media-body" style="display: inline-block;">
                      <h5 style="padding-top: 1%;">
                        Dr. Ghada Ameen<br />

                        <span class="bullet bullet-success bullet-sm"></span>
                        <span style="color: #39da8a; font-weight: 300;"
                          ><b>Available Today</b></span
                        >
                      </h5>

                      <span
                        >Consultant & Head of Obstetrics and Gynecology
                        Department (Saudi Arabia)</span
                      >
                      <br />
                      <div>
                        <p>
                          Please fill out the forms correctly. Your records will
                          be saved in database.
                        </p>
                        <br />
                        <div class="row">
                          <div class="col-12">
                            <!-- VIEW DOCTOR PROFILE START -->
                            <div
                              class="modal-primary mr-1 mb-1 d-inline-block btn-patient-dashboard"
                            >
                              <!-- Button trigger for primary themes modal -->
                              <button
                                type="button"
                                class="btn btn-outline-primary round mr-1 mb-1 btn-sm"
                                data-toggle="modal"
                                data-target="#primary"
                              >
                                <i class="bx bxs-show"></i>
                                <b>View Doctor Profile</b>
                              </button>

                              <!--primary theme Modal -->
                              <div
                                class="modal fade text-left"
                                id="primary"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="myModalLabel160"
                                aria-hidden="true"
                              >
                                <div
                                  class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                  role="document"
                                >
                                  <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                      <div class="pr-50 doc-img">
                                        <img
                                          src="/assets/images/maledoc.png"
                                          alt="avtar img holder"
                                        />
                                      </div>
                                      <h5
                                        class="modal-title white"
                                        id="myModalLabel160"
                                      >
                                        Dr. Ghada Ameen
                                      </h5>
                                      <button
                                        type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                      >
                                        <i class="bx bx-x"></i>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <ul style="list-style-type: disc;">
                                        <h4>Dr. Ghada Ameen</h4>
                                        <li>
                                          Consultant & Head of Obstetrics and
                                          Gynecology Department (Saudi Arabia)
                                        </li>
                                        <li>10 Years of experience</li>
                                        <li>Speaks English, Arabic</li>

                                        <li>
                                          Medical officer at Life care hospital
                                        </li>
                                        <li>
                                          medical officer at Care plus hospital
                                        </li>
                                        <li>General Physician at Kindah</li>
                                      </ul>
                                    </div>
                                    <div class="modal-footer">
                                      <button
                                        type="button"
                                        class="btn btn-light-secondary"
                                        data-dismiss="modal"
                                      >
                                        <i
                                          class="bx bx-x d-block d-sm-none"
                                        ></i>
                                        <span class="d-none d-sm-block"
                                          >Close</span
                                        >
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <a
                              href="/patientReqAppointment"
                              class="btn-patient-dashboard"
                            >
                              <button
                                type="button"
                                class="btn btn-outline-primary round mr-1 mb-1 btn-sm"
                              >
                                <i class="bx bx-calendar"></i>
                                <b>Request Appointment</b>
                              </button>
                            </a>

                            <div
                              class="modal-primary mr-1 mb-1 d-inline-block btn-patient-dashboard"
                            >
                              <!-- Button trigger for request a call modal -->
                              <button
                                type="button"
                                class="btn btn-outline-primary round mr-1 mb-1 btn-sm"
                                data-toggle="modal"
                                data-target="#waitinglist"
                              >
                                <i class="bx bx-phone-call"></i>
                                <b>Join the Sameday Waiting list</b>
                              </button>

                              <!--primary request a call Modal -->
                              <div
                                class="modal fade text-left"
                                id="waitinglist"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="myModalLabel160"
                                aria-hidden="true"
                              >
                                <div
                                  class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                  role="document"
                                >
                                  <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                      <h5
                                        class="modal-title white"
                                        id="myModalLabel160"
                                      >
                                        REQUEST TO JOIN THE WAITING LIST
                                      </h5>
                                      <button
                                        type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                      >
                                        <i class="bx bx-x"></i>
                                      </button>
                                    </div>
                                    <div
                                      class="modal-body"
                                      style="text-align: center;"
                                    >
                                      <br />

                                      <h5>
                                        <i
                                          >Your request can't be transfer to
                                          doctor as the limit to attend per day
                                          patients has been reached.</i
                                        >
                                      </h5>
                                      <br />

                                      <h5>
                                        <i
                                          >Try to book Appointment tomorrow as
                                          soon as possible</i
                                        >
                                      </h5>
                                      <br />
                                      <br />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!-- third doctor end -->
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade text-left"
      id="notificationmodal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel160"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h5 class="modal-title white">
              CALLED RECEIVED
            </h5>
            <button
              type="button"
              class="close"
              onclick="hideconfirmModel()"
              aria-label="Close"
            >
              <i class="bx bx-x"></i>
            </button>
          </div>
          <div class="modal-body" style="text-align: center;">
            <h5 style="color: #5a8dee; text-align: center; display: flex;">
              <i>
                <b>
                  Your Token number is 3.
                  <br />
                  <br />
                  The doctor will be call you after 45 minutes.
                  <br />
                  <br />
                  as per our policy each patient is provided the 15 minutes of
                  consultation.
                </b>
              </i>
            </h5>

            <br />
          </div>
        </div>
      </div>
    </div>

    <!-- END: Content-->

    <!-- END: Content-->

    <!-- BEGIN: JS-->
    <script src="/js/vendors.min.js"></script>

    <script src="/js/vertical-menu-light.js"></script>
    <script src="/js/app-menu.js"></script>
    <script src="/js/app.js"></script>

    <script src="/js/components-modal.js"></script>

    <!-- <script src="/js/slidevideo.js"></script> -->

    <!-- END: JS-->
  </body>
  <!-- END: Body-->
</html>
