

<%- include('../Includes/Head.ejs') %>

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/css/vendors.min.css" />

    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-extended.css" />
    <link rel="stylesheet" type="text/css" href="/css/colors.css" />
    <link rel="stylesheet" type="text/css" href="/css/components.css" />

    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/css/vertical-menu.css" />
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- END: Custom CSS-->
  </head>
  <!-- END: Head-->

    
    <div style="padding: 3%;">
      <div class="content-overlay"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">
          <div class="d-flex flex-row">
            <h3 style="margin-top: 9px;">Patient Video Call</h3>
          </div>

          <div class="card">
            
            <div class="pat-video-card">
                <div class="pat-call" >
                  <h3 class="call-heading">
                   Call With Doctor ABC</h3>
                </div>
               
                <div >
                  <img src="/assets/images/maledoc.png" class="docvideo" />
                </div>
            </div>
           

            <div class="videoimagediv">
              <img src="/assets/images/landscap-doc.png" class="videoimage" />
            </div>

            <br />
            <div style="text-align: center;">
              <p>Time Duration: 09:10:60</p>
            </div>
            
            <div class="icons">
              <button
                type="button"
                class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1 btn-lg btn-microphone"
              >
                <i class="bx bx-microphone icon-size icon-microphone"></i>
              </button>

              <button
                type="button"
                class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1 btn-lg"
              >
                <i class="bx bx-video icon-size"></i>
              </button>
              <button
                type="button"
                class="btn btn-icon rounded-circle btn-outline-danger mr-1 mb-1 btn-lg"
              >
                <i class="bx bx-phone-call icon-size"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- CALENDER END -->
      </div>
    </div>

    <!-- END: Content-->

    <!-- END: Content-->

    <!-- BEGIN: JS-->
    <!-- BEGIN: Vendor JS-->
    <script src="/js/vendors.min.js"></script>

    <!-- BEGIN Vendor JS-->

    <script src="/js/vertical-menu-light.js"></script>
    <script src="/js/app-menu.js"></script>
    <script src="/js/app.js"></script>

    <!-- END: Theme JS-->

    <!-- END: Page JS-->

    <!-- END: JS-->
  </body>
  <!-- END: Body-->
</html>
